<div class="flex w-full justify-between items-center py-4 bg-neutral-50 border-b border-neutral-200">
  <div></div>
  <div>
    <h2 class="text-xl font-semibold">Introducing <span class="text-rose-500">dote</span></h2>
  </div>
  <div></div>
</div>