<div class="grid grid-cols-3 w-full justify-between items-center lg:px-20 py-3 border-b border-neutral-200">
  <div class="col-span-1 flex items-center gap-x-1 text-rose-500">
    <svg width="30" height="30" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 6.75L9.25 4.75V17.25L4.75 19.25V6.75Z"></path>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.75 6.75L19.25 4.75V17.25L14.75 19.25V6.75Z"></path>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.75 6.75L9.25 4.75V17.25L14.75 19.25V6.75Z"></path>
    </svg>
  </div>
  <div class="col-span-1 flex justify-center">
    <div class="flex items-center p-3 border border-neutral-200 rounded-full shadow">
      <p class="px-4 text-sm border-r border-neutral-100">Explore</p>
      <p class="px-4 text-sm border-r border-neutral-100">Learn</p>
      <p class="px-4 text-sm">Create</p>
    </div>
  </div>
  <div class="col-span-1 flex items-center justify-end gap-x-4">
    <p class="text-sm">Switch to creator</p>
    <div>
      <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="7.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></circle>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 12C15.25 16.5 13.2426 19.25 12 19.25C10.7574 19.25 8.75 16.5 8.75 12C8.75 7.5 10.7574 4.75 12 4.75C13.2426 4.75 15.25 7.5 15.25 12Z"></path>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 12H12H19"></path>
      </svg>
    </div>
    <div class="flex items-center gap-x-2 p-1 border border-neutral-200 rounded-full transition duration-150 cursor-pointer hover:shadow">
      <div>
        <svg width="20" height="20" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 5.75H19.25"></path>
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 18.25H19.25"></path>
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 12H19.25"></path>
        </svg>
      </div>
      <div class="w-7 h-7 bg-slate-600 rounded-full"></div>
    </div>
  </div>
</div>